@charset "UTF-8";

main {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #DDDDCF, #C7B89C);
}

main{
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #66362198;
}

h1 {
    color: #4A2718;
    text-align: center;
    text-shadow: 2px 2px 2px #4a27185d;
}

h2 {
    color: #B98E61;
}

p{
    text-align: justify;
    
}